body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 20px;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-section {
    width: 50%;
}

.form-section h2 {
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}

.form-container input,
.form-container select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 15%;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
}

button:hover {
    background-color: #222020;
}

.rules {
    width: 40%;
    padding: 15px;
}

.rules h3 {
    margin-top: 0;
}

.rules ul {
    list-style: none;
    padding: 0;
}

.rules li {
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #292727;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

td button {
    display: inline-block;
    background-color: red;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 50%;
    font-size: 14px;
}

td button:hover {
    background-color: darkred;
}