* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f8f8f8;
}

.boletos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.boleto-card {
    padding: 15px;
    width: 250px;
    text-align: center;
}

.boleto-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.boleto-card p {
    margin: 10px 0;
}

.btn-comprar {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #222020;
}