header {
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav .left {
    flex: 1; 
    text-align: start;
}

nav .right {
    display: flex; 
    gap: 20px; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

nav a:hover {
    background-color: #555; 
    border-radius: 4px; 
}
