<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
</head>
<body>
    {% include 'base/header.html' %}
    <h1>Lista de Eventos</h1>
    <div class="eventos-container">
        {% for evento in eventos %}
        <div class="evento-card">
            <img src="{% static 'img/evento.png' %}" alt="Evento" class="evento-img">
            <p><strong>Evento:</strong> {{ evento.name }}</p>
            <p><strong>Localidad:</strong> {{ evento.localidad.name }}</p>
            <p><strong>Fecha:</strong> {{ evento.fecha_inicio }} - {{ evento.fecha_fin }}</p>
            <br>
            <a href="{% url 'VerBoletos' evento.id %}" class="btn-boleto">Boletos</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>