<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
</head>
<body>
    {% include 'base/header.html' %}
    <br>
    <h1>Eventos</h1>
    <div class="boton">
        <a href="{% url 'eventos_agregar' %}">Agregar evento</a>
    </div>
    <div class="eventos-container">
        {% for evento in eventos %}
            {% include 'components/EventoCard.html' with evento=evento %}
        {% endfor %}
    </div>
</body>
</html>