<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% include 'base/header.html' %}

    <!-- Sección de imágenes destacadas -->
    <div class="imagenes-destacadas">
        <img src="{% static 'img/carnaval1.png' %}" alt="Carnaval 1">
        <img src="{% static 'img/carnaval2.png' %}" alt="Carnaval 2">
        <img src="{% static 'img/carnaval3.png' %}" alt="Carnaval 3">
        <img src="{% static 'img/carnaval4.png' %}" alt="Carnaval 4">
        <img src="{% static 'img/carnaval5.png' %}" alt="Carnaval 4">
    </div>

    <!-- Sección de Noticias -->
    <h2>NOTICIAS</h2>
    <div class="noticias-container">
        <div class="noticia">
            <img src="{% static 'img/noticia.png' %}" alt="Noticia">
            <div class="noticia-texto">
                <h3>Noticia</h3>
                <p>El carnaval de Los Angeles es una de las festividades más importantes de Colombia y uno de los carnavales más grandes del mundo...</p>
            </div>
        </div>
        <div class="noticia">
            <img src="{% static 'img/noticia.png' %}" alt="Noticia">
            <div class="noticia-texto">
                <h3>Noticia</h3>
                <p>El carnaval de Estados Unidos es una de las festividades más importantes de Colombia y uno de los carnavales más grandes del mundo...</p>
            </div>
        </div>
    </div>

    <!-- Sección de Eventos -->
    <h2>Eventos</h2>
    <div class="eventos-container">
        {% for evento in eventos %}
        <div class="evento-card">
            <img src="{% static 'img/evento.png' %}" alt="Evento">
            <div class="evento-info">
                <h3>Evento #{{ evento.id }}</h3>
                <p><strong>Localidad:</strong> {{ evento.localidad.name }}</p>
                <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
                <a href="{% url 'Boletos' %}" class="btn-boleto">Boletos</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>