<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Este es el componente de user card</h1>
<div class="user_card_container">
    <div>
        <img src="" alt="">
    </div>
    <div>
        <p><strong>Name</strong><br> {{name}}</p>
        <p><strong>Email</strong><br> {{email}}</p>
    </div>
    <div class="user_actions">
        <a href="{% url 'userDetail' id %}">Ver</a>
    </div>
</div>
</body>
</html>